@layout('layout')

@section('title')
  Home
@endsection

@section('scripts')
@endsection

@section('content')
  Hello World

@endsection

@section('footer-scripts')
  {{ script('js/app') }}
@endsection