@layout('layout')

@section('title')
  Video list
@endsection

@section('scripts')
@endsection

@section('content')
  <video id="videoPlayer" src="{{ montage }}" autoplay autobuffer controls></video>
@endsection
