@layout('layout')

@section('title')
  Video list
@endsection

@section('scripts')
  {{ script('js/videos') }}
@endsection

@section('content')
  <video id="videoPlayer" autoplay autobuffer controls></video>
  
  {{videos}}
@endsection
