# Node modules
node_modules

# Adonis directory for storing tmp files
tmp

# Public directory for storing uploaded files
public/merges

# Environment variables, never commit this file
.env

# The development sqlite file
database/development.sqlite

# PhpStorm files
.idea/*

# Builded front scripts
public
